.container {
  margin-top: 3vh;
  background-color: #feffff;
  display: inline-block;
  width: 70vw;
}

h1 {
  margin-top: 2vh;
}
h4 {
  margin-top: 1vh;
}
h2 {
  margin-top: 5vh;
}
form {
  margin-top: 1vh;
}
.comments {
  margin-top: 2vh;
}