<div *ngIf="post" class="container">
  <div class="post">
      <h1>{{ post.text }}</h1>
      <h4>{{ post.author }}</h4>
      <div><button (click)="upvotePost()">Upvote</button></div>
  </div>
  <div class="comment-section">
      <h2>Comments</h2>
      <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
          <input type="text" formControlName="text">
          <button type="submit">Post Comment</button>
      </form>
      <div class="comments">
          <app-comment *ngFor="let comment of sortedComments" [comment]="comment"
          [postId]="post._id"></app-comment>
      </div>
  </div>
</div>