form {
  display: inline-block;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px -2px rgba(0, 0, 0, 0.3);
  padding: 4vh 4vw;
  background-color: #feffff;
}

form input {
  width: 15vw;
  min-width: 15em;
  display: block;
  outline: 0;
  border: 0;
  background-color: #def2f1;
  margin: 2vh 0;
  font-size: 1em;
  padding: .8em;
  box-sizing: border-box;
  color: #17252a;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

form button {
  outline: 0;
  border: 0;
  background-color: #2b7a78;
  font-size: 1em;
  padding: .8em;
  box-sizing: border-box;
  color: #feffff;
}

form button:hover, form button:active, form button:focus {
  background-color: #3aafa9;
}